@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
:root{
    --very-dark-grayish-blue:hsl(217, 19%, 35%);
    --desaturated-dark-blue:hsl(214, 17%, 51%);
    --grayish-blue:hsl(212, 23%, 69%);
    --light-grayish-blue:hsl(210, 46%, 95%);
}

html{
    font-size:16px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    color:var(--very-dark-grayish-blue);
    min-height: 100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grayish-blue);
}
main,footer{
    box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 50.34%);
}
.card-container{
    border-radius: 10px;
    width:87.2%;
    max-width:400px;
    background-color: #fff;
}
.card-left{
    background-image: url("images/drawers.jpg");
    width: 100%;
    height:200px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    border-radius: 10px 10px 0 0;
}
.card-right{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.hero{
    width:80.42%;
}
.hero-title{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.013rem;
    margin: 40px 0 10px 0;
}
.hero-text{
    font-size: 0.813rem;
    font-weight: 500;
    color:var(--desaturated-dark-blue);
    line-height: 1.25rem;
    letter-spacing: 0.008rem;
    margin: 0 0 20px 0;
}
.card-footer{
width:100%;
display: flex;
justify-content: center;
padding:10px 0 20px 0;
border-radius: 0 0 10px 10px;
}
.author, .share{
    width:80.42%;
    max-width:370px;
    display:flex;
    justify-content: space-between;
}

.author-avatar{
    width:40px;
    height:40px;
    border-radius: 50%;
}
.author-text{
    display: flex;
    flex-direction: column;
}
.author-text-name, .author-text-date{
    font-size: 0.813rem;
    line-height: 1.25rem;
    letter-spacing: 0.008rem;
}
.author-text-date{
    color:var(--grayish-blue);
}
.fa{
    text-decoration: none;
    color:var(--very-dark-grayish-blue);
}
.fa-share{
    background-color:var(--light-grayish-blue);
    border-radius: 50%;
    height:32px;
    width: 32px;
    padding:9px;
}
.share{
    color:var(--desaturated-dark-blue);
    align-items:center;
    padding-top:2px;
    display:none;
}
.share-text{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.813rem;
    letter-spacing: 0.313rem;
    line-height: 1.25rem;
}
.share-icon-wrapper{
    display:flex;
    align-items: center;
    gap: 15px;
    height:20px;
}
.fa-share-dark{
    background-color:var(--desaturated-dark-blue);
    color:#fff;
}
.fa-facebook{
    width:20px;
    height:20px;
    text-decoration: none;
    background-color: #fff;
    padding:5px 4px 0 7px;
    border-radius:2px;
}
.fa-twitter{
    color:#fff;
}
.fa-pinterest{
    color:#fff;
}
.noShow{
    display:none;
}
#shareBtn-lg{
    display:none;
}

@media screen and (min-width: 1440px){
    .card-container{
        display:flex;
        width:50.69%;
        min-width: 650px;
        max-width:750px;
        height: 280px;
    }
    .card-left{
        border-radius: 10px 0 0 10px;
        height:280px;
        background-position: left top;
        width: 90%;
    }
    .hero, .author{
        width:82.47%;
    }
    .hero-title{
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.016rem;
        margin: 20px 0 10px 0;
    }
    .card-footer{
        padding:15px 0 30px 0;
        position:relative;
    }
    .author{
        justify-content:start;
    }
    .author-text{
        margin: 0 160px 0 10px;
    }
    #shareBtn-lg{
        display:flex;
    }
    #shareBtn, #shareBtnDark{
        display:none;
    }
    .bubble{
        display: flex;
        justify-content: space-around;
        padding: 0 30px 0 30px;
        width:248px;
        height:55px;
        border-radius: 10px;
        background-color: var(--very-dark-grayish-blue);
        position:absolute;
        top:-80px;
        right:-70px;
    }
    .square{
        height:12px;
        width:12px;
        background-color: var(--very-dark-grayish-blue);
        position:absolute;
        top:49px;
        left:105px;
        transform:rotateY(0deg) rotate(45deg);
    }

}
